/* Background */
.bgMain {  
    background-image: url(../img/backCalendario.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

    body {
        font-family: 'Nunito', sans-serif;
    }

    #exit{
    margin-left: 300px;
    }